/* .campus-info {
  border: black solid 3px;
} */

.img {
  height: 400px;
  width: 400px;
}

.campus {
  border: black solid 3px;
}

.form {
  background-color: #d3d3d3;
  border: black solid 3px;
}
